/* Banner Section CSS */
.single-banner {
  background-image: url("../../assets/img/banner/banner.jpg");
  height: 100vh;
  @include bg;
}
.banner {
  height: 100vh;
  display: grid;
  place-items: center;
  &__content {
    color: #fff;
  }
  &__subtitle {
    font-size: 20px;
    text-transform: capitalize;
  }
  &__title {
    font-size: 55px;
    text-transform: uppercase;
    margin: 20px 0;
  }
  &__btn {
    margin-top: 20px;
    &--border {
      padding: 8px 23px;
      background: transparent;
      border: 2px solid #ff7720;
      margin-left: 10px;
      &:hover {
        background-color: transparent;
        border: 2px solid tomato;
      }
    }
  }
}
