/* Blog section CSS */
.blog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  &__box {
    position: relative;
    &:hover {
      .blog__image {
        &--img {
          transform: scale(1.2);
        }
      }
    }
  }
  &__image {
    width: 100%;
    overflow: hidden;
    &--img {
      width: 100%;
      transition: 0.3s;
    }
  }
  &__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 25px;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
    position: relative;
    margin-top: -25px;
    margin-bottom: 25px;
  }
  &__link {
    font-size: 16px;
    color: #777;
    text-transform: capitalize;
    transition: 0.3s;
    &:hover {
      color: #ff7720;
    }
  }
  &__title {
    text-transform: capitalize;
    font-size: 25px;
  }
  &__text {
    margin: 20px 0;
  }
  &__btn {
    font-size: 18px;
    text-transform: capitalize;
    color: #333;
    transition: 0.3s;
    &:hover {
      color: #ff7720;
    }
  }
}
