/* Footer section CSS */
.footer-section {
  background-color: #333;
}
.footer {
  &__icon {
    color: #fff;
    font-size: 25px;
    margin: 0 5px;
    transition: 0.3s;
    &:hover {
      color: #ff7720;
    }
  }
  &__creator {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 15px;
    &__name {
      color: #ff7720;
    }
  }
}
