/* Process section CSS */
.process-section {
  background-image: url("../../assets/img/process/process.jpg");
  @include bg;
  color: #fff;
}
.process {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  &__title {
    font-size: 20px;
    text-transform: capitalize;
    background: #ff7720;
    padding: 10px;
    border-radius: 5px;
    position: relative;
  }
  &__number {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    background: tomato;
  }
}
